/*@media only screen and (min-width:1200px) {

	.region-main-menu ul.menu li {	width: 124px; }
	
}
@media only screen and (max-device-width: 1024px) and (orientation:landscape), only screen and (min-width:960px) and (max-width:1199px) and (min-device-width: 1100px) {

	.region-main-menu ul.menu li {	width: 112px; }
	#main-menu .block-search-api-page .form-item-keys-3 input { width: 78%; }
	.btn a { padding: 12px 28px; }
	#block-jasperforge2_home-jasperforge2_prefix_menu { right: 256px; }
	#block-jasperforge2_home-jasperforge2_prefix_menu ul li a { padding: .75em .5em; }
	ul.quicktabs-style-jasperforge2 { font-size:12px; }
	ul.quicktabs-style-jasperforge2 .quicktabs-active-inner { bottom: -8px; }
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait), only screen and (min-width:768px) and (max-width:959px) and (min-device-width: 1100px) {

	.region-main-menu ul.menu li {	width: 88px; }
	#main-menu .block-search-api-page .form-item-keys-3 input { width: 78%; }
	#main-menu .block-search-api-page input.form-submit { right: 16px; }
	.btn a { padding: 12px 8px; }
	#header-background { height: 116px; margin-bottom: -118px; }
	#header-group { height: 112px; }
	#header-site-info { margin-top:22px; }
	#block-system-main-menu { position: absolute; bottom: -146px; top: auto; }
	#block-jasperforge2_home-jasperforge2_prefix_menu { right: 194px; }
	#block-jasperforge2_home-jasperforge2_prefix_menu ul li a { font-size: 12px; }
	ul.quicktabs-style-jasperforge2 { font-size:10px; }
	ul.quicktabs-style-jasperforge2 li a { padding: 7px 6px; }

}

@media only screen and (max-width:759px) {

	.region-main-menu ul.menu li {	width: 15%; }
	#main-menu .block-search-api-page .form-item-keys-3 input { width: 86%; }
	#main-menu .block-search-api-page input.form-submit { left: 90%; right:auto; }
	.main { margin-top: 8em; }
	#block-jasperforge2_home-jasperforge2_mobile_main_menu  { display:block; }
	#block-system-main-menu { display: none; }
	
	#header-background { height: 136px; margin-bottom: -138px; }
	#header-group { height: 92px; }
	#header-site-info { margin-top:-8px; }
	
	#block-jasperforge2_home-jasperforge2_header_buttons { top: 9em; }
	
	#block-jasperforge2_home-jasperforge2_prefix_menu { right: auto; left: auto; width: 100%; top: 24px; text-align:center; }
	#block-jasperforge2_home-jasperforge2_prefix_menu ul { float:none; margin: 0 auto; display: inline-block; }
	#block-jasperforge2_home-jasperforge2_prefix_menu ul li a { font-size: 12px; }
	#main-menu .block-search-api-page { top: 50px; }
	
}

*/