/** Color Defs **/
/* Gradients */
/** Color Defs **/
/* Gradients */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000322}}
.fw {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000327}}
.fl {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000333}}
img.alignright {
  float: right;
  margin: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000334}}
img.alignleft {
  float: left;
  margin: 0 2em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000335}}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
# Type and Headings

Styleguide 4
*/
/*
# Heading 1

Markup: <h1>Jaspersoft BI Suite</h1>

Styleguide 4.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000327}}
h1 {
  color: #035585;
  font: 400 36px/36px "futura-pt",sans-serif;
  margin: 0 0 1em 0;
  text-shadow: 0px 0px 1px rgba(3, 91, 133, 0.1);
}

/*
# Heading 2

Markup: <h2 class="$modifierClass">Awesome Cloud Analytics</h2>

.blue - Blue Variant

Styleguide 4.2
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000343}}
h2 {
  color: #bf5b08;
  font: 400 24px/24px "futura-pt",sans-serif;
  margin: 0 0 12px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000347}}
h2.blue {
  color: #0480ba;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000348}}
h2.secondary-title {
  color: #024666;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/*
# Heading 3

Markup: <h3 class="$modifierClass">Capabilities supported:</h3>

.light 			- Alternate
.block-title 	- Used in certain blocks

Styleguide 4.3
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000367}}
h3 {
  color: #bf5b08;
  font: 400 20px/20px "futura-pt", sans-serif;
  margin: 0 0 12px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000371}}
h3.blue {
  color: #0480ba;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000372}}
h3.light {
  color: #ff9f30;
  font-size: 18px;
  font-style: italic;
  margin-top: -6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000378}}
h3.block-title {
  color: #024666;
  font: 100 24px/1em "futura-pt",sans-serif;
  text-shadow: 0px 0px 1px rgba(3, 91, 133, 0.61);
}

/*
# Heading 4

Markup: <h4>For Big Data Applications</h4>

Styleguide 4.4
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000393}}
h4 {
  color: #555;
  font: 100 18px/18px "futura-pt",sans-serif;
  margin: 0 0 12px 0;
  text-shadow: 0px 0px 1px rgba(70, 70, 70, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000398}}
h4.secondary-sub-title {
  font-size: 20px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  width: 55%;
}
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\0000398}}
  h4.secondary-sub-title {
    width: 85%;
  }
}

/*
# Heading 5

Markup: <h5>What is it?</h5>

Styleguide 4.5
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\00003115}}
h5 {
  font: 500 14px/22px "futura-pt",sans-serif;
  margin: 0;
}

/*
# Heading 6

Markup: <h6>Dashboards and Mashboards</h6>

Styleguide 4.6
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/type\.scss}line{font-family:\00003127}}
h6 {
  font: 500 12px/18px "futura-pt",sans-serif;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000322}}
.fw {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000327}}
.fl {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000333}}
img.alignright {
  float: right;
  margin: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000334}}
img.alignleft {
  float: left;
  margin: 0 2em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/helpers\.scss}line{font-family:\0000335}}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000315}}
#menu-bar nav.block-menu {
  display: inline-block;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000319}}
#menu-bar nav.block-menu > ul {
  margin: 0;
}
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000319}}
  #menu-bar nav.block-menu > ul {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000324}}
#menu-bar nav.block-menu > ul > li {
  border-right: 1px solid #035585;
  float: left;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000329}}
#menu-bar nav.block-menu > ul > li > a {
  color: #FFFFFF;
  display: block;
  font: 400 14px/24px "franklin-gothic-urw",sans-serif;
  padding: 5px 30px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000336}}
#menu-bar nav.block-menu > ul > li > a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000339}}
#menu-bar nav.block-menu > ul > li:first-child {
  border-left: 1px solid #035585;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000341}}
#menu-bar nav.block-menu > ul > li:hover {
  background-color: #0480ba;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0480BA', endColorstr='#FF024666');
  background-color: #0075bf;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0075BF', endColorstr='#FF003B64');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzViZiIvPjxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjMDA1MzhjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzYjY0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0075bf), color-stop(64%, #00538c), color-stop(100%, #003b64));
  background-image: -webkit-linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
  background-image: -moz-linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
  background-image: -o-linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
  background-image: linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000344}}
#menu-bar nav.block-menu > ul > li:hover > ul {
  background: #003b64;
  display: block;
  padding: 12px;
  z-index: 120;
  -webkit-box-shadow: 0px 0px 7px 0px #333333;
  -moz-box-shadow: 0px 0px 7px 0px #333333;
  box-shadow: 0px 0px 7px 0px #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000351}}
#menu-bar nav.block-menu > ul > li:hover > ul li > a {
  color: #FFFFFF;
  font: 400 12px/24px "franklin-gothic-urw",sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000358}}
#menu-bar nav.block-menu > ul > li > ul {
  float: left;
  position: absolute;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000364}}
#menu-bar nav.block-menu > ul > li.active-trail {
  background-color: #0480ba;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0480BA', endColorstr='#FF024666');
  background-color: #0075bf;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0075BF', endColorstr='#FF003B64');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzViZiIvPjxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjMDA1MzhjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAzYjY0Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0075bf), color-stop(64%, #00538c), color-stop(100%, #003b64));
  background-image: -webkit-linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
  background-image: -moz-linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
  background-image: -o-linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
  background-image: linear-gradient(top, #0075bf 0%, #00538c 64%, #003b64 100%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000369}}
#block-lang-dropdown-language-content {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000374}}
#mobile-nav-trigger {
  display: none;
}
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000374}}
  #mobile-nav-trigger {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font: 600 28px/34px sans-serif;
    left: 18px;
    position: absolute;
    top: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000388}}
.mm-menu.mm-opened {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000395}}
#section-menu-wrapper-container {
  height: 48px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000399}}
.container-wrapper.smint {
  background: #FFFFFF;
  border-bottom: 1px solid #d9d9d9;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
@media only screen and (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\0000399}}
  .container-wrapper.smint {
    display: none;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\00003111}}
.admin-menu .container-wrapper.smint.fxd {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\00003113}}
.container-wrapper.smint ul.section-menu {
  height: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\00003122}}
.container-wrapper.smint ul.section-menu li {
  height: 48px;
  float: left;
  margin: 0 12px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\00003128}}
.container-wrapper.smint ul.section-menu li a {
  cursor: pointer;
  font: 400 16px "ff-dagny-web-pro";
  line-height: 48px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal7\/sites\/all\/themes\/jaspersoft5\/sass\/menu\.scss}line{font-family:\00003132}}
.container-wrapper.smint ul.section-menu li a.active {
  color: #024666;
}
