
/** QUICKTABS **/

.quicktabs-style-jasperforge {

}

.quicktabs-ui-jasperforge {
	
}

ul.quicktabs-style-jasperforge {
  background: #f4f4f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f4f4f4 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	margin: 0;
	font-family: "proxima_nova_ltbold";
	font-size: 11px;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: bold;
	border: 1px solid #ccc;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-bottom: 5px;
	/*background: #97C4D9;
	margin: 0;
	font-family: "ProximaNovaLtRegular";
	font-size:14px;
	border: 1px solid #82A8BA;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding-bottom: 5px;*/
}

ul.quicktabs-style-jasperforge li {
border: 1px solid #ccc;
border-left: 1px solid #fff;
}
ul.quicktabs-style-jasperforge li.first {
border-top-left-radius: 6px; }

ul.quicktabs-style-jasperforge li.last {
border-top-right-radius: 6px; border: 1px solid #ccc;
}

ul.quicktabs-style-jasperforge li a {
	display: inline-block;
	padding: 7px 0;
	color: #035B85;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	line-height:151%;
	width:100%
}

ul.quicktabs-style-jasperforge li.first a {
	border-top-left-radius: 6px;
}

ul.quicktabs-style-jasperforge li.last a {
	border-top-right-radius: 6px;
}


ul.quicktabs-style-jasperforge li {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
	position:relative;
  width: 174px;
  border-left: 1px solid #fff;
  border-right: 1px solid #ddd;
  text-align: center;
}

ul.quicktabs-style-jasperforge li.first {
	border-top-left-radius: 6px;
	margin-left:0;
}

ul.quicktabs-style-jasperforge li.last {
	border-top-right-radius: 6px;
}

ul.quicktabs-style-jasperforge li.active a {
	background: #fff;
	color: #01283A;
	margin-top: -1px;
}

ul.quicktabs-style-jasperforge li a:hover {
	text-decoration:none;
	background: #C7DDFF;
}

ul.quicktabs-style-jasperforge li.active a:hover {
	background: #ECF5FB;
}

.quicktabs_main.quicktabs-style-jasperforge {
/*	background: #ECF5FB;
	border-radius: 6px;
	min-height: 100px;
	padding: 1em;
	border: 1px solid #82A8BA; */
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#F2F2F2));
  background-image: -webkit-linear-gradient(top, white, #F2F2F2);
  background-image: -moz-linear-gradient(top, white, #F2F2F2);
  background-image: -o-linear-gradient(top, white, #F2F2F2);
  background-image: linear-gradient(to bottom, white, #F2F2F2);
  border: 1px solid #CCC;
  border-bottom: 1px solid #BBB;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-top: -7px;
  min-height: 340px;
  padding: 15px;
}

.quicktabs_main.quicktabs-style-jasperforge {
overflow: hidden;
}