#header-bg {
	height: 146px;
	position: relative;
	margin-bottom: -146px;
}

#header-bg-1 {
	background: #333;
	height: 1px;
}

#header-bg-2 {
	background: #035B85;
	height: 1px;
}

#header-bg-3 {
	height:20px;
	background: rgb(40,35,48);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4MjMzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDA1MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(40,35,48,1) 0%, rgba(4,5,5,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(40,35,48,1)), color-stop(100%,rgba(4,5,5,1)));
	background: -webkit-linear-gradient(top,  rgba(40,35,48,1) 0%,rgba(4,5,5,1) 100%);
	background: -o-linear-gradient(top,  rgba(40,35,48,1) 0%,rgba(4,5,5,1) 100%);
	background: -ms-linear-gradient(top,  rgba(40,35,48,1) 0%,rgba(4,5,5,1) 100%);
	background: linear-gradient(to bottom,  rgba(40,35,48,1) 0%,rgba(4,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282330', endColorstr='#040505',GradientType=0 );
}

#header-bg-4 {
	height:1px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjNWM1YzVjIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiM1YzVjNWMiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(51,51,51,0.8) 0%, rgba(92,92,92,0.9) 20%, rgba(153,153,153,1) 50%, rgba(92,92,92,0.9) 80%, rgba(51,51,51,0.8) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,0.8)), color-stop(20%,rgba(92,92,92,0.9)), color-stop(50%,rgba(153,153,153,1)), color-stop(80%,rgba(92,92,92,0.9)), color-stop(100%,rgba(51,51,51,0.8)));
	background: -webkit-linear-gradient(left,  rgba(51,51,51,0.8) 0%,rgba(92,92,92,0.9) 20%,rgba(153,153,153,1) 50%,rgba(92,92,92,0.9) 80%,rgba(51,51,51,0.8) 100%);
	background: -o-linear-gradient(left,  rgba(51,51,51,0.8) 0%,rgba(92,92,92,0.9) 20%,rgba(153,153,153,1) 50%,rgba(92,92,92,0.9) 80%,rgba(51,51,51,0.8) 100%);
	background: -ms-linear-gradient(left,  rgba(51,51,51,0.8) 0%,rgba(92,92,92,0.9) 20%,rgba(153,153,153,1) 50%,rgba(92,92,92,0.9) 80%,rgba(51,51,51,0.8) 100%);
	background: linear-gradient(to right,  rgba(51,51,51,0.8) 0%,rgba(92,92,92,0.9) 20%,rgba(153,153,153,1) 50%,rgba(92,92,92,0.9) 80%,rgba(51,51,51,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc333333', endColorstr='#cc333333',GradientType=1 );
}

#header-bg-5 {
	height:84px;
	background: rgb(36,46,51);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MmUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iIzI4MmUzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzFiMWYyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDA1MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(36,46,51,1) 0%, rgba(40,46,48,1) 54%, rgba(27,31,33,1) 95%, rgba(4,5,5,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,46,51,1)), color-stop(54%,rgba(40,46,48,1)), color-stop(95%,rgba(27,31,33,1)), color-stop(100%,rgba(4,5,5,1)));
	background: -webkit-linear-gradient(top,  rgba(36,46,51,1) 0%,rgba(40,46,48,1) 54%,rgba(27,31,33,1) 95%,rgba(4,5,5,1) 100%);
	background: -o-linear-gradient(top,  rgba(36,46,51,1) 0%,rgba(40,46,48,1) 54%,rgba(27,31,33,1) 95%,rgba(4,5,5,1) 100%);
	background: -ms-linear-gradient(top,  rgba(36,46,51,1) 0%,rgba(40,46,48,1) 54%,rgba(27,31,33,1) 95%,rgba(4,5,5,1) 100%);
	background: linear-gradient(to bottom,  rgba(36,46,51,1) 0%,rgba(40,46,48,1) 54%,rgba(27,31,33,1) 95%,rgba(4,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242e33', endColorstr='#040505',GradientType=0 );
}

#header-bg-6 {
	height:1px;
	background: #555;
}

#header-bg-7 {
	height:33px;
	background: rgb(36,46,51);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MmUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzI4MmUzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDA1MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(36,46,51,1) 0%, rgba(40,46,51,1) 43%, rgba(4,5,5,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,46,51,1)), color-stop(43%,rgba(40,46,51,1)), color-stop(100%,rgba(4,5,5,1)));
	background: -webkit-linear-gradient(top,  rgba(36,46,51,1) 0%,rgba(40,46,51,1) 43%,rgba(4,5,5,1) 100%);
	background: -o-linear-gradient(top,  rgba(36,46,51,1) 0%,rgba(40,46,51,1) 43%,rgba(4,5,5,1) 100%);
	background: -ms-linear-gradient(top,  rgba(36,46,51,1) 0%,rgba(40,46,51,1) 43%,rgba(4,5,5,1) 100%);
	background: linear-gradient(to bottom,  rgba(36,46,51,1) 0%,rgba(40,46,51,1) 43%,rgba(4,5,5,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242e33', endColorstr='#040505',GradientType=0 );
}

#header-bg-8 {
	height:1px;
	background: #000;
}

#header-bg-9 {
	height:1px;
	background: #DCF0F2;
}

#header-bg-wave {
	background: url('../images/js_wave_header.png') no-repeat;
	margin: 0 auto;
	width: 830px;
	height: 109px;
}

#header-bg-radial {

}

a:focus {
    outline: none;
}

button::-moz-focus-inner {
  border: 0;
}


#tertiary-menu {
	list-style: none;
	display: inline-block;
	position: absolute;
	top: 32px;
	right: 10px;
}

#tertiary-menu li {
	float: left;
	margin: 0 5px;
}

#tertiary-menu li a {
	display: inline-block;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	line-height: 9px;
	padding: 6px 12px;
	background: rgb(85,95,96);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NWY2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzQyNGQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODJmMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(85,95,96,1) 0%, rgba(66,77,84,1) 65%, rgba(40,47,51,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,95,96,1)), color-stop(65%,rgba(66,77,84,1)), color-stop(100%,rgba(40,47,51,1)));
	background: -webkit-linear-gradient(top,  rgba(85,95,96,1) 0%,rgba(66,77,84,1) 65%,rgba(40,47,51,1) 100%);
	background: -o-linear-gradient(top,  rgba(85,95,96,1) 0%,rgba(66,77,84,1) 65%,rgba(40,47,51,1) 100%);
	background: -ms-linear-gradient(top,  rgba(85,95,96,1) 0%,rgba(66,77,84,1) 65%,rgba(40,47,51,1) 100%);
	background: linear-gradient(to bottom,  rgba(85,95,96,1) 0%,rgba(66,77,84,1) 65%,rgba(40,47,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555f60', endColorstr='#282f33',GradientType=0 );
	color: #F8FCFC;
	border-radius: 3px;
	font-size: 11px;
	font-family: "myriad-pro";
	font-weight: 100;
	text-transform: uppercase;
	-webkit-background-size:100% 130%;
	-moz-background-size:100% 130%;
	background-size:100% 130%;
	-webkit-transition: background 150ms;
	-moz-transition: background 150ms;
	transition: background 150ms;
	background-position: 0 -3px;
	text-decoration:none;
}

#tertiary-menu li a:hover {
	text-decoration:none;
	background-position:0px 0px;
}

#tertiary-menu li a:active {
	margin-top:1px;
	margin-bottom:-1px;
}

#main-menu #block-multiblock-2 .form-item-query input {
	width: 170px;
}

#logo {
	margin-top: 29px;
	margin-left: 32px;
}

#block-jasperforge_home-jasperforge_header_buttons a.button {
	font-weight: 100;
	margin-left: 2px;
	width: 200px;
	padding: 6px 18px 8px;
	line-height: 20px;
	font-size: 18px;
	font-family: "myriad-pro";
	letter-spacing: 1px;
	text-decoration:none!important;
	right:15px;
	position:absolute;
}

#block-jasperforge_home-jasperforge_prefix_menu {
	right:10px;
	top:5px;
}

#block-jasperforge_home-jasperforge_prefix_menu ul li a {
	font-size:10px;
	font-family: "myriad-pro";
}

#header-group {
	height: 146px;
}

#block-system-main-menu {
	top: 118px;
}

#block-jasperforge_home-jasperforge_header_buttons {
	top: 73px;
}

#main-menu #block-multiblock-2 {
	top:122px;
	width: 232px;
}

.region-main-menu ul.menu li {
	margin-right:0;
}

.region-main-menu ul.menu li:first-child a {
	border-left: 1px solid #333;
}

.region-main-menu ul.menu li a {
	background: none;
	border-radius: 0;
	height: 33px;
	line-height: 14px;
	border-right: 1px solid #333;
	font-family: "myriad-pro";
	font-weight: 400;
	font-size: 15px;
	border-bottom:none;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	text-decoration:none!important;
	color:#eee;
}

.region-main-menu ul.menu li a:hover {
	background: rgb(56,75,87);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4NGI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzJiM2E0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjUzNjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(56,75,87,1) 0%, rgba(43,58,69,1) 65%, rgba(59,83,100,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,75,87,1)), color-stop(65%,rgba(43,58,69,1)), color-stop(100%,rgba(59,83,100,1)));
	background: -webkit-linear-gradient(top,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	background: -o-linear-gradient(top,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	background: -ms-linear-gradient(top,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	background: linear-gradient(to bottom,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384b57', endColorstr='#3b5364',GradientType=0 );
}

.region-main-menu ul.menu li a:active,.region-main-menu ul.menu li a.active-trail {
	color:white!important;
	background: rgb(56,75,87);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4NGI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzJiM2E0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjUzNjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(56,75,87,1) 0%, rgba(43,58,69,1) 65%, rgba(59,83,100,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,75,87,1)), color-stop(65%,rgba(43,58,69,1)), color-stop(100%,rgba(59,83,100,1)));
	background: -webkit-linear-gradient(top,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	background: -o-linear-gradient(top,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	background: -ms-linear-gradient(top,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	background: linear-gradient(to bottom,  rgba(56,75,87,1) 0%,rgba(43,58,69,1) 65%,rgba(59,83,100,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384b57', endColorstr='#3b5364',GradientType=0 );
}


a.button, .button {
	display:inline-block;
	padding: 6px 20px 8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	cursor:pointer;
	color: white;
	font-family: "myriad-pro";
	font-size: 20px;
	font-weight: 100;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 0px rgba(0,0,0,.4);
	line-height: 22px;
}

a.button:hover, .button:hover {
	color: white;
}

a.button:active, .button:active {
/*	margin-top:1px;
	margin-bottom:-1px;*/
	color: white;
}

.button.green {
	background: #50ab22;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUwYWIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzNmOGMxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzMyNzMxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDVjMDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #50ab22 0%, #3f8c13 45%, #327311 78%, #245c08 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50ab22), color-stop(45%,#3f8c13), color-stop(78%,#327311), color-stop(100%,#245c08));
	background: -webkit-linear-gradient(top,  #50ab22 0%,#3f8c13 45%,#327311 78%,#245c08 100%);
	background: -o-linear-gradient(top,  #50ab22 0%,#3f8c13 45%,#327311 78%,#245c08 100%);
	background: -ms-linear-gradient(top,  #50ab22 0%,#3f8c13 45%,#327311 78%,#245c08 100%);
	background: linear-gradient(to bottom,  #50ab22 0%,#3f8c13 45%,#327311 78%,#245c08 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50ab22', endColorstr='#245c08',GradientType=0 );
	border-top: 1px solid #7CD450;
	border-bottohttp://www.jaspersoft.com/resourcesm: 1px solid #245C08;
	-webkit-background-size:100% 120%;
	-moz-background-size:100% 120%;
	background-size:100% 120%;
	-webkit-transition: background 150ms;
	-moz-transition: background 150ms;
	transition: background 150ms;
	background-position: 0 -5px;
}

.button.green:hover {
	background-position:0px 0px;
}

.button.green:active {

}

.nivo-controlNav {
	bottom:-2px;
}

.field.field-name-field-page-type {
	display:none;
}

.cke_skin_chris .cke_rcombo {
    float:none!important;
}

p.pl40 {
	padding-left:40px;
}

p.bg_gray {
	background: #F0F0F0;
}

.block5 {
	background: rgb(247,247,247);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e5e5e5',GradientType=0 );
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	width: 560px;
	border:1px solid #D9D9D9;
	text-align:center;
	font-family: "ProximaNovaRgRegular",sans-serif;
	min-height: 232px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.block5 .block5-header {
	background: rgb(89,89,89);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDI0MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(89,89,89,1) 0%, rgba(36,36,36,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(89,89,89,1)), color-stop(100%,rgba(36,36,36,1)));
	background: -webkit-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(36,36,36,1) 100%);
	background: -o-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(36,36,36,1) 100%);
	background: -ms-linear-gradient(top,  rgba(89,89,89,1) 0%,rgba(36,36,36,1) 100%);
	background: linear-gradient(to bottom,  rgba(89,89,89,1) 0%,rgba(36,36,36,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#242424',GradientType=0 );
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height:32px;
	font-weight: 100;
	border:1px solid #F7F7F7;
	text-align:center;
	color:#ffffff;
	padding-top:5px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 16px;
}

.block5 .block5-item-wrapper {
	padding: 8px 32px;
	display:block;
	text-decoration:none;
	margin:4px 0;
}

.block5 .block5-item-wrapper:hover {
	background: rgb(223,223,223);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(223,223,223,1) 0%, rgba(229,229,229,1) 10%, rgba(229,229,229,1) 50%, rgba(229,229,229,1) 90%, rgba(223,223,223,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,223,223,1)), color-stop(10%,rgba(229,229,229,1)), color-stop(50%,rgba(229,229,229,1)), color-stop(90%,rgba(229,229,229,1)), color-stop(100%,rgba(223,223,223,1)));
	background: -webkit-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(229,229,229,1) 10%,rgba(229,229,229,1) 50%,rgba(229,229,229,1) 90%,rgba(223,223,223,1) 100%);
	background: -o-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(229,229,229,1) 10%,rgba(229,229,229,1) 50%,rgba(229,229,229,1) 90%,rgba(223,223,223,1) 100%);
	background: -ms-linear-gradient(top,  rgba(223,223,223,1) 0%,rgba(229,229,229,1) 10%,rgba(229,229,229,1) 50%,rgba(229,229,229,1) 90%,rgba(223,223,223,1) 100%);
	background: linear-gradient(to bottom,  rgba(223,223,223,1) 0%,rgba(229,229,229,1) 10%,rgba(229,229,229,1) 50%,rgba(229,229,229,1) 90%,rgba(223,223,223,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#dfdfdf',GradientType=0 );
}

.block5 .block5-item-icon-wrapper {
	display:table-cell;
	vertical-align:middle;
	border-right:1px solid #C7C7C7;
}

.block5 .block5-item-content {
	display:table-cell;
	vertical-align:middle;
	border-left:1px solid #FFFFFF;
	padding: 10px 20px;
	text-align:left;
	font-weight: 600;
}

.block5 .block5-item-title {
	margin:0 0 6px 0;
	font-weight: bold;
}

.block5 .block5-item-desc {
	font-size:12px;
	color:#555;
	font-weight: 100;
}

.block5 .block5-item-icon {
	display:inline-block;
	width:50px;
	height:50px;
	margin:0px 32px 0 0;
	background: url(../images/block5_sprite.png);
}

.block5 .icon-support {
	background-position: -112px 0px;
}

.block5 .block5-item-wrapper:hover .icon-support {
	background-position: -112px -48px;
}

.block5 .icon-watch {
	background-position: 0px 0px;
}

.block5 .block5-item-wrapper:hover .icon-watch {
	background-position: 0px -148px;
}

.block5 .icon-cloud2 {
	background-position: -55px 0px;
}

.block5 .block5-item-wrapper:hover .icon-cloud2 {
	background-position: -55px -48px;
}

.block5 .icon-launch {
	background-position: -224px 0px;
}

.block5 .block5-item-wrapper:hover .icon-launch {
	background-position: -224px -48px;
}

.block5 .icon-answers {
	background-position: -167px 0px;
}

.block5 .block5-item-wrapper:hover .icon-answers {
	background-position: -167px -98px;
}

.block5 .icon-docs {
	background-position: -445px 0px;
}

.block5 .block5-item-wrapper:hover .icon-docs {
	background-position: -445px -148px;
}

.block5 .icon-connect {
	background-position: -278px 0px;
}

.block5 .block5-item-wrapper:hover .icon-connect {
	background-position: -278px -98px;
}

.block5 .icon-guide {
	background-position: -336px 0px;
}

.block5 .block5-item-wrapper:hover .icon-guide {
	background-position: -336px -48px;
}

.block5 .icon-faq {
	background-position: -391px 0px;
}

.block5 .block5-item-wrapper:hover .icon-faq {
	background-position: -391px -98px;
}

.block5 .icon-compare {
	background-position: -505px 0px;
}

.block5 .block5-item-wrapper:hover .icon-compare {
	background-position: -505px -98px;
}

#block5-intro,
#block5-support {
	float:left;
}

#block5-start,
#block5-resources {
	display:inline-block;
}

.page-node-803225 h1,
.page-node-802945 h1 {
    margin-left:100px;
}

.page-node-803225.logged-in #content-tabs,
.page-node-802945.logged-in #content-tabs {
    float: left;
    margin-bottom: -28px;
    margin-top: -18px;
}

.page-node-803225.logged-in #content-tabs #content-tabs-inner,
.page-node-802945.logged-in #content-tabs #content-tabs-inner {
    float: left;
}

/** HTML5 DOCS **/

#block-book_helper-book-helper-inline-navigation ul.menu {
	display:none;
}


ul.js_doc_index_0 {
	list-style: none;
	font-family: "franklin-gothic-urw";
}

ul.js_doc_index_0 > li {
	margin-bottom: 18px;
	font-size: 18px;
}

ul.js_doc_index_1 {
	list-style: none;
	font-size: 16px;
	color: #555;
}

ul.js_doc_index_1 li {

}

ul.js_doc_index_links {
	font-size: 14px;
	list-style: none;
}

thead td {
	font-weight: bold;
	background: #F0F0F0;
}

.TableStyle_Note tbody,
.TableStyle_Note td,
.TableStyle_Note_Indent tbody,
.TableStyle_Note_Indent td {
	border:none;
}

.node-type-documentation-html- .ui-resizable-handle {
	width: 2px;
	height: 100%;
	background-color: white;
	top: 0px;
	right: 6px;
	position: absolute;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: rgb(217, 217, 217);
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: rgb(229, 229, 229);
	cursor: col-resize;
	z-index:999!important;
}

.node-type-documentation-html- #sidebar-first {
	position: relative;
}

.node-type-documentation-html- h2 {
	margin-top: 1em;
	font-weight: 600;
	color: #555;
}

.node-type-documentation-html- h3 {
	margin-top: 1em;
	font-size: 20px;
	font-weight: 600;
}

.node-type-documentation-html- h4 {
	font-weight: bold;
	margin-top: 2em;
}

#block-system-main .book-navigation {
	margin-top: 30px;
}

table.AutoNumber_p_Bullet,
table.AutoNumber_p_Bullet_2,
table.AutoNumber_p_Bullet_3,
table.AutoNumber_p_Bullet_4,
table.AutoNumber_p_Bullet_5,
table.AutoNumber_p_Numbered_alpha,
table.AutoNumber_p_Numbered_First,
table.AutoNumber_p_Cell_Bullet {
	margin-top: 6px;
	margin-bottom: 6px;
}

table.AutoNumber_p_Bullet tbody,
table.AutoNumber_p_Bullet_2 tbody,
table.AutoNumber_p_Bullet_3 tbody,
table.AutoNumber_p_Bullet_4 tbody,
table.AutoNumber_p_Bullet_5 tbody,
table.AutoNumber_p_Numbered_alpha tbody,
table.AutoNumber_p_Numbered_First tbody,
table.AutoNumber_p_Cell_Bullet tbody {
	border:none;
}

table.AutoNumber_p_Bullet td,
table.AutoNumber_p_Bullet_2 td,
table.AutoNumber_p_Bullet_3 td,
table.AutoNumber_p_Bullet_4 td,
table.AutoNumber_p_Bullet_5 td,
table.AutoNumber_p_Numbered_alpha td,
table.AutoNumber_p_Numbered_First td,
table.AutoNumber_p_Cell_Bullet td {
	padding:inherit!important;
	border:none!important;
	vertical-align: top;
}

p.Instruction {
	font-weight: bold;
	font-size: 14px;
	color: #555;
}

span.UI {
	font-weight:bold;
}

table.TableStyle-Figure {
	width: auto;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 18px;
}

table.TableStyle-Figure tbody {
	border:none!important;
}

table.TableStyle-Figure p {
	margin:0;
}

table.TableStyle-Table thead {
	border-top: 1px solid #D7D7D7;
}

table.TableStyle-Table > thead > tr > td,
table.TableStyle-Table > tbody > tr > td {
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
}

p.Indent {
	margin-left: 0.25in;
}

p.Indent_2 {
	margin-left: 0.5in;
}

p.Indent_3 {
	margin-left: 0.75in;
}

p.Bullet {
	margin-left: .25in;
	margin-top: 6pt;
	margin-bottom: 0pt;
}

p.Bullet_2 {
	margin-left: .5in;
}

p.Bullet_3 {
	margin-left: 0.75in;
}

span.Forceful {
	font-weight: bold;
}

span.MCTextPopup {
	display: block;
	font-size: 10px;
	margin-top: 12px;
	color: #777;
}

/***** MODAL LOGIN / REGISTER *****/

.modal-popup-login-register div.modal-forms-modal-content .popups-container,
.modal-popup-login-register-step2 div.modal-forms-modal-content .popups-container {
	background: rgb(244,248,248);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(244,248,248,1) 0%, rgba(236,238,238,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,248,248,1)), color-stop(100%,rgba(236,238,238,1)));
	background: -webkit-linear-gradient(top,  rgba(244,248,248,1) 0%,rgba(236,238,238,1) 100%);
	background: -o-linear-gradient(top,  rgba(244,248,248,1) 0%,rgba(236,238,238,1) 100%);
	background: -ms-linear-gradient(top,  rgba(244,248,248,1) 0%,rgba(236,238,238,1) 100%);
	background: linear-gradient(to bottom,  rgba(244,248,248,1) 0%,rgba(236,238,238,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8f8', endColorstr='#eceeee',GradientType=0 );
}

.modal2-rule {
    border-top:1px solid #BFCED6;
    border-bottom: 1px solid #FFF;
	margin-left: -14px;
}

.modal-popup-login-register div.modal-forms-modal-content .popups-close,
.modal-popup-login-register-step2 div.modal-forms-modal-content .popups-close {
	-moz-border-radius: 1000em;
	-webkit-border-radius: 1000em;
	-ms-border-radius: 1000em;
	-o-border-radius: 1000em;
	border-radius: 1000em;
	width: 19px;
	height: 19px;
	background-position: -28px -3px;
	top: 16px;
	right: 16px;
}

.modal-popup-login-register div.modal-forms-modal-content .modal-title,
.modal-popup-login-register-step2 div.modal-forms-modal-content .modal-title {
	font-family: proxima-nova,sans-serif;
	font-size: 22px;
	color: #004476;
	font-weight: lighter;
	margin-left: 4px;
	display: inline-block;
	margin-top: 12px;
	margin-bottom: 3px;
	padding: 0;
}

#modal2-content-wrapper {
    display:table-row;
}

#modal2-content-left {
    display:table-cell;
    width:50%;
}

#modal2-subtitle {
    font-family: proxima-nova,sans-serif;
    font-size: 18px;
    color: #004576;
    margin-left: 24px;
	margin-top: 16px;
}

#modal2-list-title {
    font-family: proxima-nova,sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #43565E;
    margin-left: 24px;
	margin-top: 18px;
}

#modal2-list li {
    margin-left: 48px;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    color: #43565E;
    line-height: 24px;
    list-style: circle;
}

h3.modal2-label {
    color: #B14707;
    font-family: proxima-nova,sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 20px 24px;
}

h3.modal2-label.light {
    color:#C68044;
    display:inline-block;
}

#modal2-no-thanks {
    color: #ACB7BC;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    right: 24px;
    cursor:pointer;
}

#modal2-content-right {
    padding: 0 12px 12px 0;
}

#modal2-content-right input {
    display: block;
    margin-left: 28px;
    margin-bottom: 14px;
    width: 200px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #D5D5D5!important;
    padding: 4px;
    box-shadow: 0px 1px 0px 0px #FFF;
    color: #555;
}

#modal2-vdivider h3.modal2-label {
    margin:6px 10px;
    font-size:12px;
}

#modal2-vdivider .modal2-rule {
    display: inline-block;
    width: 166px;
    vertical-align: middle;
}

#modal2-content-right .form-item-name input,
#modal2-content-right .form-item-pass input {
	width:200px;
	display:inline-block;
	margin-top:0;
}

#modal2-content-right .form-item-pass input {
	margin-bottom: 10px;
}

#modal2-content-right .form-item-name label,
#modal2-content-right .form-item-pass label {
	display:none;
}

#modal2-content-right .form-item-name,
#modal2-content-right .form-item-pass {
	margin:0;
}

#modal2-content-right .form-item-pass {
	display:inline-block;
}

.modal-content #modal2-content-right .reset-pass-link {
	margin-left: 264px;
	margin-bottom: 6px;
	position: relative;
	display: inline-block;
}

#modal2-content-right input#firstname {
    width: 150px;
    display: inline-block;
}

#modal2-content-right input#lastname {
    width: 150px;
    display: inline-block;
    margin-left: 12px;
}


#modal2-content-right input#email {
	display:inline-block;
}

#modal2-content-right a#user-register-submit {
    width: 100px;
	height: 28px;
	font-size: 16px;
	padding: 1px 0px;
	margin-left: 22px;
}

#modal2-content-right h3.modal2-label {
    margin-top:0;
    margin-bottom:12px;
}

.inlineText {
    margin-left: 34px;
    margin-top: 6px;
    font-family: proxima-nova,sans-serif;
    font-size: 16px;
    color: #C7C7C7;
    font-style: italic;
}

.form-item-name .inlineText,
.form-item-pass .inlineText {
	/*margin-top: 10px;*/
}

.msnContainer {
    position:static!important;
    display: inline-block!important;
}

.plugin #providers .provider {
    margin-right:6px;
}

#modal2-content-right .form-actions {
	display: inline-block;
	margin: 0 0 -9px 0;
}

div.modal-forms-modal-content #modal2-content-right .form-submit {
	width: 100px;
	color: white;
	font-weight: 100;
	font-family: "myriad-pro";
	height: 28px;
	padding: 1px 0 3px;
	margin: 0 0 0 18px;
	display:inline-block;
}

.modal-popup-login-register .oneall_social_login label {
	display:none;
}

.modal-popup-login-register .oneall_social_login {
	position: relative!important;
	top: inherit!important;
	right: inherit!important;
	bottom: inherit!important;
	left: inherit!important;
	margin: 0!important;
	display: inline-block;
}

.modal-popup-login-register .oneall_social_login  iframe {
	width: 500px!important;
	height: 40px!important;
	max-height: 40px!important;
	vertical-align: middle;
}

.modal-popup-login-register .plugin #providers .provider {
	margin-left: 8px;
}

.modal-popup-login-register a.optout-link {
	position:inherit;
	right:inherit;
	bottom:inherit;
	float: right;
	margin-top: 22px;
	margin-right: 22px;
}

.modal-popup-login-register .ajax-progress-throbber {
	position: absolute;
	top: 72px;
	right: 82px;
}

.modal-popup-login-register div.messages {
	position: absolute;
    right: 30px;
    top: 17px;
}

.modal-popup-login-register #modal2-content-right input.modal-invalid,
.modal-popup-login-register-step2 #modal2-content-right input.modal-invalid {
	border: 1px solid red!important;
}

.modal-popup-login-register .create-account-link {
	display:none;
}

/* register modal*/

.modal-popup-login-register-step2 div.messages {
	width: 370px;
	margin-bottom: 12px!important;
}

.modal-popup-login-register-step2 .ajax-progress-throbber {
	position: absolute;
	bottom: 42px;
	left: 202px;
}

#modal2-content-wrapper.modal-register input {
	display: block;
    margin-bottom: 14px;
    width: 190px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #D5D5D5!important;
    padding: 4px;
    box-shadow: 0px 1px 0px 0px #FFF;
    color: #555;
}

#modal2-content-wrapper.modal-register .description {
	display:none;
}

#modal2-content-wrapper.modal-register .form-item-mail {
	display:inline-block;
	margin-bottom: 0;
}

#modal2-content-wrapper.modal-register .form-item-conf-mail {
	display:inline-block;
	margin-left:28px;
	margin-bottom: 0;
}

#modal2-content-wrapper.modal-register .form-item-pass {
	margin: 24px 0 0 0;
}

#modal2-content-wrapper.modal-register .form-item-pass-pass1 {
	display: inline-block;
	width: auto;
}

#modal2-content-wrapper.modal-register .form-item-pass-pass2 {
	display: inline-block;
	margin-left: 22px;
	width: 200px;
}

#modal2-content-wrapper.modal-register .password-strength {
	float: none;
	margin-top: 22px;
	margin-bottom: -70px;
	width: 206px;
}

#modal2-content-wrapper.modal-register .password-confirm {
	visibility: visible;
	float: none;
	margin-bottom: -70px;
}

#modal2-content-wrapper.modal-register .password-suggestions {
	/*
	position: absolute;
	top: 20px;
	left: 490px;
	width: 200px;
	*/
	display:none!important;
}

.modal-popup-login-register-step2 fieldset,
.modal-popup-login-register-step2 div.group-profile {
	display:none;
}

#modal2-content-wrapper.modal-register .form-wrapper {
	margin-bottom:24px;
}

#modal2-content-wrapper.modal-register .field-name-field-first-name,
#modal2-content-wrapper.modal-register .field-name-field-last-name,
#modal2-content-wrapper.modal-register .field-name-field-user-phone,
#modal2-content-wrapper.modal-register .field-name-field-company,
#modal2-content-wrapper.modal-register .field-name-field-company-size,
#modal2-content-wrapper.modal-register .field-name-field-user-role,
#modal2-content-wrapper.modal-register .field-name-field-country,
#modal2-content-wrapper.modal-register .field-name-field-state-us,
#modal2-content-wrapper.modal-register .field-name-field-state-can {
	display:inline-block;
	margin-top: -3px;
	margin-bottom: -3px;
}

#modal2-content-wrapper.modal-register .field-name-field-last-name,
#modal2-content-wrapper.modal-register .field-name-field-user-phone,
#modal2-content-wrapper.modal-register .field-name-field-user-role,
#modal2-content-wrapper.modal-register .field-name-field-state-us,
#modal2-content-wrapper.modal-register .field-name-field-state-can {
	margin-left:32px;
}

#modal2-content-wrapper.modal-register .field-name-field-country,
#modal2-content-wrapper.modal-register .field-name-field-state-us,
#modal2-content-wrapper.modal-register .field-name-field-state-can {
	margin-top:8px;
	margin-bottom:12px;
}

#modal2-content-wrapper.modal-register select {
	width: 200px;
}

#modal2-content-wrapper.modal-register .form-actions {
	text-align: center;
	position:relative;
}

#modal2-content-wrapper.modal-register input.form-submit {
	margin: 0 auto;
	color: white;
	font-weight: 100;
	font-size: 18px;
}

.modal-popup-login-register-step2 fieldset.captcha.form-wrapper {
	display:block;
	border:none;
	margin-top:0;
	margin-bottom: 0px !important;
	padding:0;
}

.modal-popup-login-register-step2 fieldset.captcha.form-wrapper legend {
	display:none;
}

.modal-popup-login-register-step2 fieldset.captcha.form-wrapper .fieldset-description {
	display:none;
}

.modal-popup-login-register-step2 fieldset.captcha.form-wrapper .field-prefix {
	font-size:16px;
}

.modal-popup-login-register-step2 fieldset.captcha.form-wrapper #edit-captcha-response {
	display:inline;
	width:20px;
}

/** Doc page */
.view-documentation-index .views-field-php-3 {
	width: 140px;
	text-align: right;
	padding-right: 20px;
}


#main-menu ul.menu ul.menu {
background: #E7E7E7;
margin-top: 1px!important;
display: block!important;
z-index: 100;
position: absolute!important;
width:auto!important;
height:auto!important;
}

.region-main-menu ul.menu > li > ul > li {
position: relative;
width: auto;
float: none;
display:block;
}

#main-menu ul.menu ul.menu li a {
background: none;
color: #01283A;
border: none;
white-space: nowrap;
display: block;
padding: 10px 24px;
height:auto;
text-align: left;
}

#main-menu ul.menu ul.menu li a:hover {
    background: #D9D9D9;
}

#main-menu ul.menu li.expanded ul.menu {
    display:none!important;
}

#main-menu ul.menu li.expanded:hover ul.menu {
    display:block!important;
}
